
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "Tu savais ?" }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <h1><a href="/">Tu savais ?</a></h1>
    <nav>
      <a href="/">Accueil</a> |
      <a href="/categorie/fruit/">Catégorie Fruits</a> |
      <a href="/proprietaire/fruitcorp/">FruitCorp</a>
    </nav>
    <hr>
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
